.contact-input { 
    border: 2px solid var(--primary-color);
    outline: none;
    border-radius: 5px;
    margin: 10px;
}

.contact-input:focus {
    border-color: var(--accent-color);
}

.contact-button {
    margin: 10px;
    width: auto;
    background-color: var(--primary-color);
    color: var(--background-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  