/*
	General styles
*/
/* Base styles for all screen sizes */
body {
	font-family: 'IBM Plex Mono';
	font-size: 16px; /* Set your base font size in pixels */
	color: var(--primary-color);
  }
  
  body, html {
	height: 100%;
	background-color: var(--background-color);
  }
  
  h1, h2, h3, h4 {
	font-family: "Josefin Slab", serif;
  }
  
  /* Font size adjustments for all text for specific screen sizes */
  @media screen and (max-width: 767px) {
	/* Styles for screens up to 767px (e.g., smartphones) */
	body {
	  font-size: 14px; /* Adjust the font size for paragraphs and spans in pixels */
	}
	h1 {
	  font-size: 24px; /* Adjust the font size for h1 in pixels */
	}
  }
  
  @media screen and (min-width: 768px) and (max-width: 1023px) {
	/* Styles for screens between 768px and 1023px (e.g., tablets) */
	body {
	  font-size: 16px; /* Adjust the font size for paragraphs and spans in pixels */
	}
	h1 {
	  font-size: 32px; /* Adjust the font size for h1 in pixels */
	}
  }
  
  @media screen and (min-width: 1024px) {
	/* Styles for screens larger than 1023px (e.g., desktops) */
	body {
	  font-size: 24px; /* Adjust the font size for paragraphs and spans in pixels */
	}
	h1 {
	  font-size: 40px; /* Adjust the font size for h1 in pixels */
	}
  }
a, a:visited {
	text-decoration: none;
	color: var(--primary-color);
}
a:hover {
	text-decoration: none;
	color: var(--primary-color);

}
.touchonly {
	display: none;
}
html.touch .touchonly {
	display: block;
}
.noselect, .noselect * {
	user-select: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
}
.doselect, .doselect *:not(.noselect) {
	user-select: text;
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-o-user-select: text;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}


/* =Navigation */
nav {
	position: fixed;
	right: 1vw;
	top: 10%;
	-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
			transform: translateY(-50%);
	text-align: right;
	z-index: 3000; 
}
	nav a {
	  display: block;
	  line-height: 3vh;
	  position: relative;
	  padding-right: 2vw;
	  color: #ffffff;
	  text-decoration: none; }
	  nav a:hover .nav-label {
		cursor: pointer;
		-webkit-transform: translateX(0);
			-ms-transform: translateX(0);
				transform: translateX(0);
		opacity: 1;
		visibility: visible; }
	nav .nav-dot {
	  display: block;
	  width: 2vmin;
	  height: 2vmin;
	  position: absolute;
	  right: 0;
	  top: 50%;
	  background-color: var(--primary-color);
	  border-radius: 100%;
	  -webkit-transform: translateY(-50%);
		  -ms-transform: translateY(-50%);
			  transform: translateY(-50%);
	  -webkit-transition: all 0.3s linear;
			  transition: all 0.3s linear; }
	nav .nav-label {
	  display: block;
	  opacity: 0.5;
	  color: var(--primary-color);
	  visibility: hidden;
	  -webkit-transform: translateX(-10px);
		  -ms-transform: translateX(-10px);
			  transform: translateX(-10px);
	  -webkit-transition: all 0.2s cubic-bezier(.17, .67, .83, .67);
			  transition: all 0.2s cubic-bezier(.17, .67, .83, .67); }
	nav.is-dark a {
	  color: var(--accent-color); }
	nav.is-dark .nav-dot {
	  background-color: rgba(0, 0, 0, 0.5); }
	nav.is-light a {
	  color: var(--accent-color) }
	nav.is-light .nav-dot {
	  background-color: var(--accent-color); }
	nav ul {
	  margin: 0;
	  padding: 0; }
	nav li {
	  width: auto;
	  list-style: none; }

